<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">添加优惠码</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="offerCodeForm"  >
                    <!--优惠码标题-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="title"> 优惠码标题 </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" id="title" ng-model="offerCodeInfo.offerCodeTitle" placeholder="请输入优惠码标题" required />
                        </div>
                        <div>
                            <div class="col-sm-2"></div>
                            <div class="col-md-3">
                                <div class="text-danger line-height-30" ng-messages="offerCodeForm.title.$error" ng-if="offerCodeForm.title.$touched">
                                    <div ng-message="required">优惠码标题不能为空</div>
                                    <div ng-messages-include="app/templates/formValidation.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--指定课程-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" > 指定课程 </label>
                        <div class="col-sm-9">
                            <select class="form-control " id="course" ></select>
                        </div>
                    </div>

                    <!--有效期-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" > 有效期 </label>
                        <div class="col-sm-9">
                            <div class="input-group input-daterange">
                                <input type="text" class="form-control" name="start" placeholder="开始时间" id="startTime" required/>
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="end" placeholder="结束时间" id="endTime" required/>
                            </div>
                        </div>
                    </div>

                    <!--适用门店-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="shop"> 适用门店 </label>
                        <div class="col-sm-9">
                            <select class="  form-control"  multiple="multiple" ng-model="institutionData.tags" name="tags" id="shop" ></select>
                        </div>
                    </div>

                    <!--优惠券规则-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="rule"> 优惠券规则 </label>
                        <div class="col-sm-9">
                            <div class="col-sm-3 form-group">
                                <input type="number" class="form-control" id="rule" name="rule_befer" ng-model="offerCodeInfo.rule_befer" min="0" required/>
                            </div>
                            <label class="control-label fl" style="padding-left:5px;padding-right: 5px"> 分减 </label>
                            <div class="col-sm-3 form-group">
                                <input type="number" class="form-control" name="rule_after" ng-model="offerCodeInfo.rule_after" min="0" required/>
                            </div>
                            <label class="control-label fl" style="padding-left:5px;padding-right: 5px"> 分 </label>
                        </div>
                        <div>
                            <div class="col-sm-2"></div>
                            <div class="col-md-3">
                                <div class="text-danger line-height-30" ng-messages="offerCodeForm.rule_befer.$error && offerCodeForm.rule_after.$error" ng-if="offerCodeForm.rule_befer.$touched && offerCodeForm.rule_after.$touched">
                                    <div ng-message="required">优惠券规则不能为空</div>
                                    <div ng-messages-include="app/templates/formValidation.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--使用说明-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">使用说明</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description" rows="5"  id="description" ng-maxlength="200" ng-model="offerCodeInfo.desc"  ></textarea>
                        </div>
                    </div>

                    <!--按钮-->
                    <div class="form-group m-b-0">
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-success width-xs fr"  ng-click="evenListener.save()" ng-disabled="offerCodeForm.$invalid">保存</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

