<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">发放优惠码</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="offerCodeReleaseForm"  >
                    <!--优惠码标题-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" > 优惠码标题 </label>
                        <div class="col-sm-9">
                            <select class="form-control " id="offerCodeTitle" ></select>
                        </div>
                    </div>

                    <!--发放对象-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" > 发放对象 </label>
                        <div class="col-md-9">
                            <div class="clearfix">
                                <div class="fl" >
                                    <label for="linkRadio" class="icheck-radio">
                                        <input type="radio" id="linkRadio" name="content" value='all' ng-model="releaseData.isAllUser" ng-checked="true">
                                        <div class="icheck-media"></div>
                                        <div class="icheck-inner">
                                            <div class="icheck-title">所有用户</div>
                                        </div>
                                    </label>
                                </div>
                                <div class="fl margin-left-20" >
                                    <label for="noteRadio" class="icheck-radio">
                                        <input type="radio" id="noteRadio" name="content" value='part' ng-model="releaseData.isAllUser" >
                                        <div class="icheck-media"></div>
                                        <div class="icheck-inner">
                                            <div class="icheck-title">指定用户</div>
                                        </div>
                                    </label>
                                </div>

                            </div>

                            <!--指定用户-->
                            <div ng-if="isShow" style="margin-top: 20px">
                                <textarea class="form-control" name="account" rows="5"  id="description" ng-maxlength="200" ng-model="releaseData.account"  placeholder="用户电话号码,如有多个用逗号隔开" required></textarea>
                                <div class="text-danger line-height-30" ng-messages="offerCodeReleaseForm.account.$error" ng-if="offerCodeReleaseForm.account.$touched">
                                    <div ng-message="required">指定用户不能为空</div>
                                    <div ng-messages-include="app/templates/formValidation.html"></div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <!--按钮-->
                    <div class="form-group m-b-0">
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-success width-xs fr" ng-disabled="offerCodeReleaseForm.$invalid" ng-click="released()">发放</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

