<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top" ng-controller="headerController">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button  logo-->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span>艾尔成长</a>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <!--头像-->
            <li class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/img/user-13.jpg" alt="" /> 
                    <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li><a ui-sref="app.changePassword">修改密码</a></li>
                    <!--<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>-->
                    <li><a ui-sref="app.dataSetting">资料设置</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="LoginOut()">退出登录</a></li>
                </ul>
            </li>

        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->