function getEnv(){
    return {
        //API接口相关配置
        server: "http://api.gg.dev",
        module: "backend",
        version: "1.0.1",
        //系统整体配置(ocLazyLoad)
        cache: true,
        debug: false,
        event: false,
        html5: true
    }
}