<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">登录密码修改</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="changePasswordForm">
                    <!--登录密码-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="curPassword"> 登录密码 </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="curPassword" id="curPassword" ng-model="changPasswordData.curPassword" placeholder="请输入登录密码" required />
                        </div>
                        <div>
                            <div class="col-sm-2"></div>
                            <div class="col-md-3">
                                <div class="text-danger line-height-30" ng-messages="changePasswordForm.curPassword.$error" ng-if="changePasswordForm.curPassword.$touched">
                                    <div ng-message="required">登录密码不能为空</div>
                                    <div ng-messages-include="app/templates/formValidation.html"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--新登录密码-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="newPassword"> 新登录密码 </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="changPasswordData.newPassword" placeholder="请设置新登录密码" required />
                        </div>
                        <div>
                            <div class="col-sm-2"></div>
                            <div class="col-md-3">
                                <div class="text-danger line-height-30" ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched">
                                    <div ng-message="required">新登录密码不能为空</div>
                                    <div ng-messages-include="app/templates/formValidation.html"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--再次输入新登录密码-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="newPasswordAgain"> 再次输入新登录密码 </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control"  id="newPasswordAgain" ng-model="changPasswordData.aNewPassword" placeholder="请再次输入新登录密码"  />
                        </div>
                    </div>

                    <div class="form-group" ng-show="changPasswordData.showError">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-9 text-danger">
                            <i class="ion-ios-close "></i>
                            {{changPasswordData.errorMes}}
                        </div>

                    </div>
                    <!--按钮-->
                    <div class="form-group m-b-0">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-9" style="text-align: right">
                            <button type="submit" class="btn btn-success width-xs " ng-disabled="changePasswordForm.$invalid"  ng-click="changPassword()">修改密码</button>
                            * 修改成功后将在下次登录生效
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

