<div>
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <button type="file" ng-click="everListener.addPopularCourse()" class="btn btn-xs btn-icon btn-circle btn-success">+
                        </button>
                    </div>
                    <h4 class="panel-title">首页热门课程</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-align-center">排序</th>
                            <th class="text-align-center">选择课程</th>
                            <th class="text-align-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--原本请求数据-->
                        <tr ng-repeat="items in popularCourse">
                            <td class="text-align-center" width="20%"><input class="" style="width: 30px; " type="number" ng-model="items.sort" min="0"></td>
                            <td class="text-align-center" ng-bind="items.course" width="50%"></td>
                            <td style="text-align: center" width="30$"><a href="" ng-click="everListener.delCourse(items,true)">删除</a></td>
                        </tr>
                        <!--新添加的数据-->
                        <tr ng-show="shoeAdd" ng-repeat="items in addPopularCourseArr"  on-finish-render-filters>
                            <td class="text-align-center"><input class="" style="width: 30px; " type="number" ng-model="items.sort"></td>
                            <td class="text-align-center">
                                <select class="form-control popularCourse" id="popularCourse{{$index}}" style="width: 80%"></select>
                            </td>
                            <td style="text-align: center"><a href="" ng-click="everListener.delCourse(items,false)">删除</a></td>
                        </tr>

                        </tbody>
                    </table>
                    <!--按钮-->
                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success width-xs fr"  ng-click="everListener.save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle !important;
        border-top: 1px solid #ddd;
    }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
        border: 1px solid #e2e7eb;
    }

    .text-align-center{
        text-align: center;
    }
</style>